.bgcolor1{
    background-color:#aaaaaa
}
.bgcolor2{
    background-color:#cccccc
}
.picture_gallery_frame{
    width: 400px;
    height :450px;   
}
.picture_in_gallery{
    height : 400px;
    display: flex;
    align-items: center;
}
.text_in_gallery{
    height: 50px;
}
.image1_gallery{
    margin: 0 auto;
}
.image2_gallery{
    display: none; 
    margin: 0 auto;       
}
.image3_gallery{
    display: none;  
    margin: 0 auto;  
}